In [1]:
import pandas as pd
import numpy as np
from sklearn import cluster, metrics

In [ ]:
checkins = pd.read_csv('checkins.csv', header=0, sep=';')
checkins_data = checkins.head(100000)
checkins_data.head(5)

,id,user_id,venue_id,latitude,longitude,created_at
0,984222,15824,5222,38.895112,-77.036366,2012-04-21 17:43:47
1,984234,44652,5222,33.800745,-84.410520,2012-04-21 17:43:43
2,984291,105054,5222,45.523452,-122.676207,2012-04-21 17:39:22
3,984318,2146539,5222,40.764462,-111.904565,2012-04-21 17:35:46
4,984232,93870,380645,33.448377,-112.074037,2012-04-21 17:38:18

In [ ]:
cluster = cluster.MeanShift(bandwidth=0.1).fit(zip(checkins_data[checkins_data.columns[3]],
                                                   checkins_data[checkins_data.columns[4]]))

In [ ]:
labels = cluster.labels_
cluster_centers = cluster.cluster_centers_
labels_unique = np.unique(labels)
n_clusters = len(labels_unique)

In [ ]:
n_items = {}
for label in labels:
    if label not in n_items.keys():
        n_items[label] = 1
    else: n_items[label] += 1

In [ ]:
print len(labels_unique)
print len(n_items.keys())

In [ ]:
interesting_labels = [label for label in n_items if n_items[label]>15]

In [ ]:
print len(interesting_labels)
print len(n_items)

In [ ]:
points = [cluster_centers[i] for i in range(len(cluster_centers)) 
          if interesting_labels.count(labels[i])>0]

In [ ]:
offices = np.ndarray(shape=(6,2))

offices[0] = np.array([33.751277, -118.188740])
offices[1] = np.array([25.867736, -80.324116])
offices[2] = np.array([51.503016, -0.075479])
offices[3] = np.array([52.378894, 4.885084])
offices[4] = np.array([39.366487, 117.036146])
offices[5] = np.array([-33.868457, 151.205134])
print offices

In [ ]:
def distance(point1, point2):
    return (((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2))**0.5

In [ ]:
print points[0][0], offices[0][0]
print distance(points[0], offices[0])

In [ ]:
distances = []

for point in points:
    min_distance = 1000000
    for office in offices:
        dist = distance(point, office)
        if dist < min_distance:
            min_distance = dist
        distances.append(min_distance)

distances = np.array(distances)
indx_dist = np.argsort(distances)[:20]

In [ ]:
print np.sort(distances)
print indx_dist

In [ ]:
print points[indx_dist[0]] 

with open('clusters_answ.txt', 'w') as f:
    f.write(str(points[indx_dist[0]][0]) + ' ' + str(points[indx_dist[0]][1]))