## Код для работы со статистикой имен новорожденных в США

**Импортируем библиотеку pandas**

In [1]:
import pandas as pd

In [2]:
DATA_PATH = 'C:/Users/Data/names/'

*Почему-то jupiter или anaconda плохо работают с не-Ascii символами, поэтому пришлось специально создавать папку с англоязычным названием*

In [9]:
def read_file(year):
    cols = ['Name', 'Gender', 'Count']
    return pd.read_csv(
            '{}yob{}.txt'.format(DATA_PATH, str(year)), names = cols)

In [10]:
def get_list_with_files_data(years_list):
    return [read_file(year) for year in years_list]

In [19]:
def count_top_names_in_file(years_list, amount_of_elem):
    return [key for key in pd.concat(get_list_with_files_data(years_list))\
                        .groupby('Name').sum()\
                        .sort_values(by='Count', ascending=False)\
                        .tail(amount_of_elem)\
                        .to_dict('dict')['Count']]

**Выводим результат работы функции по нахождению 3 наиболее популярных имен во временном периоде в виде списка:**

In [22]:
count_top_names_in_file([1880], 5)

['Sylvanus', 'Bulah', 'Duff', 'Nolie', 'Bradley']

In [28]:
def get_dict_by_gender(analyzed_dictionary):
     return {'M': [analyzed_dictionary[key] for key in analyzed_dictionary if key[1] == 'M'],
             'F': [analyzed_dictionary[key] for key in analyzed_dictionary if key[1] == 'F']}

In [31]:
def count_dynamics_of_names_in_file(years_list):
    cols = ['Name', 'Gender', 'Count']
    dict_gender_by_years = {}
    for year in years_list:
        dict_gender_by_years[year] = read_file(year).groupby('Gender').sum()
    
    return get_dict_by_gender(pd.concat(dict_gender_by_years, names = ['Year', 'Gender'])\
                                    .to_dict('dict')['Count'])

**Выводим результат работы функции по выводу динамики изменения количества имен за периоды**

In [32]:
count_dynamics_of_names_in_file([1900, 1950, 2000])

{'F': [299810, 1713259, 1814922], 'M': [150486, 1790871, 1962744]}

*Данные не сходятся с представленными в блокноте преподавателя. Проверил вручную через Excel получившиеся суммы с суммами в файлах. Все сошлось.*

In [33]:
def get_all_data_by_years(years_list, groub_by):
    names_by_year = {}
    cols = ['Name', 'Gender', 'Count']
    for year in years_list:
        names_by_year[year] = read_file(year)
    return pd.concat(names_by_year, names = ['Year', 'Pos'])\
            .groupby(groub_by)\
            .sum()

In [36]:
get_all_data_by_years(range(1880, 1886), ['Year', 'Name'])\
                                .query('Name == {}'.format(count_top_names_in_file([1880], 5)))

               Count
Year Name
1880 Bradley       5
     Bulah         5
     Duff          5
     Nolie         5
     Sylvanus      5
1881 Bradley      10
1882 Bradley       5
     Bulah        10
     Duff          5
     Sylvanus      6
1883 Bradley       8
     Bulah        10
     Sylvanus      6
1884 Bulah         6
1885 Bradley       9
     Bulah        14
     Sylvanus      6